= render partial: 'donation'
= render partial: 'help'
= render partial: 'navbar'

%div{class: 'pull-right'}
	Frame delay:
	%span{id: 'frame-delay'}
	ms (
	%span{id: 'frame-drop'}
	drops)
%div{class: 'col-xs-12'}
%div{class: 'pull-right'}
	1 USD =
	%span{id: 'currency-text'} ...
%div{class: 'col-xs-12'}
%div{class: 'pull-right'}
	Forex last update
	%span{id: 'forex-last-update'} ...
%div{id: 'dashboard-table'}
%div{class: 'row col-xs-12'}
%div{class: 'well well-lg', id: 'welcome-well'}

= stylesheet_link_tag 'style'
= stylesheet_link_tag 'bootstrap-select.min'
//= stylesheet_link_tag 'highcharts'
= javascript_include_tag 'sprintf.min'
//= javascript_include_tag 'highstock.js'
= javascript_include_tag 'https://code.highcharts.com/stock/highstock.js'
= javascript_include_tag 'moment'
= javascript_include_tag 'jstorage.min'
= javascript_include_tag 'Periphery'
= javascript_include_tag 'CoolNumeric'
= javascript_include_tag 'FrameWatch'
//= javascript_include_tag 'PerformanceMetric'
= javascript_include_tag 'MACD'
= javascript_include_tag 'bootstrap-select.min'
//= javascript_include_tag 'plotly-latest.min'
= javascript_include_tag 'binance_endpoint'
= javascript_include_tag 'Multibox'
:javascript
	$(document).ready(function() {
		var endpoint = BinanceEndpoint.attach()
		var multibox = Multibox.init(endpoint)

		endpoint.register_multibox(multibox)
		Periphery.init()
	})